html {
	background: #3B84A3;
}

body {
	text-align: center;
	background: radial-gradient(#0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
	border: 1px solid #ccc;
	font-size: 16px;
	background-color: #EEEEEE;
}

p {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 18px;
}

.cell {
	width:150px;
	height:150px;
	border: 5px solid yellowgreen;
	background: #FFFFFF;
	font-size: 46pt;
	text-align: center;
	margin: auto;
}
.cell:hover {
	background: #125464;
	text-align: center;
}

